<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Google.Generative.AI" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.WebView2" version="1.0.1823.32" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.x64" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.x86" version="1.0.118.0" targetFramework="net461" />
</packages>
